body {
	background: black;
}

.game {
	background: #e0dbdb;
	width: 500px;
	height: 500px;
	/*margin-left: 45%;*/
	margin-top: 10%;
	border-radius: 10px;
}

.number, .empty {
	display: inline-block;
    width: 30.1%;
    height: 151px;
    border: 1px solid black;
    text-align: center;
    line-height: 164px;
    font-size: 38px;
    border-radius: 15px;
    margin: 7px;
}

.empty {
	visibility: hidden;
}

.number:hover {
	background: green;
	color: white;
	cursor: pointer;
}